body{
    background: #0b0e14;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 200vh;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.sos-button{
    position: fixed;
    top: 20px;
    right: 20px;
    background: red;
    color:  #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(257,75,43,0.5);
    z-index: 1000;
}
.travel-card{
    position: relative;
    width: 350px;
    background-color: #1a1f29;
    border: 2px solid #00dfff;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,212,255,0.2);
}
.photo-wrapper{
    position: relative;
    width: 150px;
    margin: 0 auto 20px;
}
.avatar{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #00d4ff
}
.lvl-badge{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #00d4ff;
    color: #0b0e14;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}
.status-dot{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: #00ff88;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff88;
}
.info-section{
    margin-top: 30px;
    background-color: #252b36;
    border-radius: 10px;
    height: 150px;
    overflow: auto;
    text-align: left;
}
.sticky-header{
    position: sticky;
    top: 0;
    background-color: #00dfff;
    color: #0b0e14;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    z-index: 1;
}
.scroll-content{
    padding: 10px;
}
.scroll-content p{
    font-size: 14px;
    border-bottom: 1px solid #3a414d;
    padding-bottom: 5px;
}