@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
    background-image: url(1.png);
    background-size: no-repeat;
    background-position: right bottom;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100%;
}
.content{
    position: relative;
    width: 580px;
    margin: 50px auto;
}
.content-title{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}
.menu{
    padding: 60px 0;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    min-height: 500px;
    border-radius: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}
.menu:hover{
    background-color: rgba(0, 0, 0, 0.5);;
}
.menu li{
    font-size: 32px;
    display: block;
    line-height: 55px;
}
.menu li a{
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fff;
    transform: scale(0.8);
    transition: all 0.4s linear;
}
.menu:hover li a{
    text-shadow: 0 0 10px #fff;
    color: transparent;
}
.menu li a:hover{
    text-shadow: none;
    color: #fff;
    transform: scale(1);
}
 