body{
    background-color: #d1d9e0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}
h1 {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px 40px;
    text-align: center;
    background-color: #4a4e52;
    color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border: none; 
    border-bottom: 5px solid #d1d9e0;
    border-radius: 12px;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-selection{
background-color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.video-selection {
    min-width: 600px;
}
iframe{
width: 100%;
    height: 315px;
    border-radius: 15px;
    border: none;
}
.audio-section{
    text-align: left;
}
.audio{
    width: 100%;
    height: 40px;
}
.audio-item p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
    transition: all 0.3s;
    display: block;
    transform-origin: center;
    cursor: pointer;
}
.audio-item p:hover {
    color: #000;
    transform: scale(1.3);
    font-weight: bold;
}