body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    width: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2pt;
    word-spacing: 1.8pt;
}
.preview {
    width: 200px; 
    height: 300px;
    background-color: #fff;
    padding: 15px;
    margin: 20px 0px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}
.preview a{
    text-decoration: none;
    color: #333;
}
.preview:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transform: scale(1.2);
}
.preview img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.preview p {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    margin: 0;
}